.idea/
.gitignore
stats-pipeline.yml
StatsWebsite/.angular/cache/19.2.0/StatsWebsite/.tsbuildinfo
StatsWebsite/.angular/cache/19.2.0/StatsWebsite/vite/deps_ssr/_metadata.json
StatsWebsite/.idea/vcs.xml
StatsWebsite/.angular/cache/19.2.0/StatsWebsite/vite/deps/_metadata.json
